In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Qaanaaq,GL,2020-08-02 01:51:27,77.48,-69.36,39.81,70,100,6.35
1,1,Mataura,NZ,2020-08-02 01:51:27,-46.19,168.86,53.26,84,100,1.54
2,2,Ribeira Grande,PT,2020-08-02 01:51:28,38.52,-28.70,70.93,67,1,7.47
3,3,Cape Town,ZA,2020-08-02 01:47:36,-33.93,18.42,51.80,76,0,10.29
4,4,Georgetown,MY,2020-08-02 01:51:20,5.41,100.34,80.60,88,20,4.70

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds  , dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind  , dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Georgetown,MY,2020-08-02 01:51:20,5.41,100.34,80.60,88,20,4.70
11,11,Panama City,PA,2020-08-02 01:51:29,8.99,-79.52,82.40,78,95,6.93
19,19,Honiara,SB,2020-08-02 01:51:31,-9.43,159.95,87.80,66,20,6.93
20,20,Shingu,JP,2020-08-02 01:51:31,33.73,135.98,80.60,88,75,6.93
21,21,Albany,US,2020-08-02 01:51:31,42.60,-73.97,75.00,56,98,2.13
22,22,Tura,IN,2020-08-02 01:51:31,25.52,90.22,84.06,73,92,1.59
28,28,Puerto El Triunfo,SV,2020-08-02 01:51:32,13.28,-88.55,82.40,78,20,3.36
31,31,Linqiong,CN,2020-08-02 01:51:33,30.42,103.46,84.00,100,40,2.24
34,34,Hilo,US,2020-08-02 01:49:34,19.73,-155.09,82.40,61,90,4.70
38,38,Kapaa,US,2020-08-02 01:49:00,22.08,-159.32,80.01,83,75,10.29

In [12]:
# Next three In's [], [], and [] are letting us know if the above DataFrame has any null values for any of the rows.
preferred_cities_df.count()

City_ID       236
City          236
Country       236
Date          236
Lat           236
Lng           236
Max Temp      236
Humidity      236
Cloudiness    236
Wind Speed    236
dtype: int64

In [13]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [14]:
preferred_cities_df.notnull().sum()

City_ID       236
City          236
Country       236
Date          236
Lat           236
Lng           236
Max Temp      236
Humidity      236
Cloudiness    236
Wind Speed    236
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                 City Country  Max Temp    Lat     Lng Hotel Name
4          Georgetown      MY     80.60   5.41  100.34
11        Panama City      PA     82.40   8.99  -79.52
19            Honiara      SB     87.80  -9.43  159.95
20             Shingu      JP     80.60  33.73  135.98
21             Albany      US     75.00  42.60  -73.97
22               Tura      IN     84.06  25.52   90.22
28  Puerto El Triunfo      SV     82.40  13.28  -88.55
31           Linqiong      CN     84.00  30.42  103.46
34               Hilo      US     82.40  19.73 -155.09
38              Kapaa      US     80.01  22.08 -159.32

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [17]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [18]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Georgetown,MY,80.60,5.41,100.34,Cititel Penang
11,Panama City,PA,82.40,8.99,-79.52,Trump International Hotel & Tower Panama
19,Honiara,SB,87.80,-9.43,159.95,Heritage Park Hotel
20,Shingu,JP,80.60,33.73,135.98,Shingu UI Hotel
21,Albany,US,75.00,42.60,-73.97,
22,Tura,IN,84.06,25.52,90.22,Hotel RIKMAN Continental
28,Puerto El Triunfo,SV,82.40,13.28,-88.55,Hotel Jardin
31,Linqiong,CN,84.00,30.42,103.46,Tianlun Tanxianglou Hotel
34,Hilo,US,82.40,19.73,-155.09,Hilo Hawaiian Hotel
38,Kapaa,US,80.01,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach

In [19]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [22]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [23]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))